html, .pure-g [class *= "pure-u"] {
	font: 1em/1.4 verdana, arial, helvetica, sans-serif;
}
html {
	background-color: #c6c6c6;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	color: #000;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	padding: 0;
}

h1, h2 {
	color: #b10202;
}

p {
	padding: 0;
}

main h2:first-of-type {
	font-size: 1rem;
	margin-top: 1rem;
}

a {
	color:#414958;
	text-decoration: underline;
}

a:visited {
	color: #4E5869;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

main { 
	padding: 0;
}

	main .container {
		background-color: #fff;
		min-height: calc(100vh - 105px);
		background-color: #E9E9DE;
	}

	.container {
		padding: 0 1rem;
		min-width: 0;
	}

header.geog104,
footer.geog104 {
    width: 100%;
    margin: 0 auto;
}

header.geog104 {
	margin: 0 auto;
	height: 51px;
	border-bottom: 3px solid #999;
	background: #000 url(../images/header-back.jpg) left top no-repeat;
	background-size: cover;
}

footer.geog104 {
	padding: 10px 0;
	background-color: #000;
	color: #fff;
	border-top: 3px solid #999;
	background: #000;
	height: 54px;
}

    footer.geog104 .container {
    	background-color: transparent;
    }

	footer.geog104 p {
		float: left;
		margin: 0;
		font-size: 13px;
	}

	footer.geog104 img.unlv {
		float: right;
		width: 110px;
		height: 38px;
	}

@media screen and (min-width: 35.5em) {
    header.geog104,
    footer.geog104 {
        max-width: 32rem;
    }
}

@media screen and (min-width: 48em) {
    header.geog104,
    footer.geog104 {
        max-width: 44rem;
    }
    header.geog104 {
	    background-size: auto;
	}
}

@media screen and (min-width: 64em) {
    header.geog104,
    footer.geog104 {
        max-width: 60rem;
    } 
}

@media screen and (min-width: 80em) {
    header.geog104,
    footer.geog104 {
        max-width: 76rem;
    }
}

.media-container {
	color: #000;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	padding: 1rem;
	margin-bottom: 1.5rem;
	text-align: center;
	position: relative;
}

.media-container .learning-object {
	display: inline-block;
	text-align: left;
	max-width: 100%;
}