/*  ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
    1. GLOBAL
    ......................................  */

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

html, .pure-g [class *= "pure-u"] {
    font: 1em/1.5 'Roboto', sans-serif;
}

html {
    background: #f9f9f9;
    min-height: 100%;
    position: relative;
}

body {
    margin: 0 0 5.25rem;
}

body.wide-menu {
    margin: 0 0 1.5rem;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.mobile-check {
    position: relative;
}

img {
    max-width: 100%;
}

/*  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
    1. Grid
    ......................................  */

.container {
    display: block;
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
}

@media screen and (min-width: 35.5em) {
    .container {
        max-width: 32rem;
    }
}

@media screen and (min-width: 48em) {
    .container {
        max-width: 44rem;
    }
    .l-box {
        padding: 0 1rem;
    }
}

@media screen and (min-width: 64em) {
    .container {
        max-width: 60rem;
    } 
}

@media screen and (min-width: 80em) {
    .container {
        max-width: 76rem;
    }
    body.wide-menu .oe-header,
    body.wide-menu main,
    body.wide-menu .oe-footer {
        padding-left: 15rem;
    }
}

/*  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
    1. Helpers
    ......................................  */

.stilts {
    margin-bottom: 1.5em;
}

.barefoot {
    margin-bottom: 0;
}

.tophat {
	margin-top: 1.5em;
}

.haircut {
    margin-top: 0;
}

span.alert {
    color: #FFC107;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
    1. Typography
    ......................................  */

html,
button,
input,
select,
textarea {
    color: #222;
}

.glyph {
    font: 1em 'FontAwesome';
    text-transform: none;  
    display: inline-block;
    text-align: center;
}

span.glyph {
    width: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

a {
    color: #e74c3c;
}

a:not(.pure-button):hover {
    color: #222;
}

/*  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
    1. Inputs & Buttons
    ......................................  */

select,
input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + label,
input[type="radio"] + label {
    cursor: pointer;
}

.button-oe {
    background-color: #F44336;
}

/*  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
    1. Misc.
    ......................................  */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*  ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
    2. OE MENU
    ......................................  */

.oe-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.oe-menu.open {
    display: block;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

    .oe-menu div.overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,.12);
        cursor: pointer;
    }

    .oe-menu div.menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 4;
        width: 85%;
        max-width: 15rem;
        background: rgb(255,255,255);
        border-right: 1px solid rgba(0,0,0,0.14);
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
    }

        .oe-menu div.menu div.menu-header {
            height: 4rem;
            line-height: 4rem;
            padding: 0 1.5rem;
            font-size: 1rem;
            color: #fff;
            border-bottom: 1px solid rgba(0,0,0,0.14);
        }

            .oe-menu div.menu div.menu-header a {
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

                .oe-menu div.menu div.menu-header a img {
                    display: block;
                }

        .oe-menu div.menu ul {
            list-style-type: none;
            padding: 0;
        }

            .oe-menu div.menu ul li a {
                display: block;
                padding: .5rem 1.5rem;
                text-decoration: none;
                color: inherit;
                -webkit-transition: all .2s linear;
                transition: all .2s linear;
            }

            .oe-menu div.menu ul li a:hover {
                background-color: rgba(158, 158, 158, 0.07);
                -webkit-transition: all .2s linear;
                transition: all .2s linear;
            }

@media screen and (min-width: 80rem) {
    .oe-menu {
        display: block;
        right: auto;
    }
        .oe-menu div.overlay {
            display: none;
        }  
}

/*  ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
    3. OE HEADER
    ......................................  */

.oe-header {
    display: block;
    white-space: nowrap;
    background: #eee;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

    .oe-header button.menu-button {
        float: left;
        z-index: 2;
        height: 4rem;
        line-height: 4rem;
        width: 4rem;
        text-align: center;
        border: 0;
        outline: 0;
        background: none;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }

    .oe-header button.menu-button:hover {
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }

        .oe-header button.menu-button span {
            font-size: 1.25rem;
        }

    .oe-header h1.course {
        margin: 0;
        line-height: 4rem;
        padding: 0 1rem;
        font-size: 1.5rem;
        font-weight: normal;
    }

@media screen and (min-width: 80rem) {
    button.menu-button {
        display: none;
    }
}

/*  ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
    4. CONTENT
    ......................................  */
    
main {
    padding-bottom: 1.5rem;
}

/*  ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
    5. FOOTER
    ......................................  */

body.wide-menu .oe-footer {
    height: 1.5rem;
}

.oe-footer {
    height: 5.25rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    display: block;
}

    .oe-footer img.oe-logo {
        max-width: 100%;
        width: 300px;
        margin-bottom: .5rem;
    }

    .oe-footer p.copyright {
        margin: 0;
    }

/*  ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
    6. PRINT STYLES
    ......................................  */

@media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}