<div class="container">
  <div class="pure-g">
    <div class="pure-u-1">
      <h2>{{appTitle}}</h2>
      <div class="media-container">
        <range-slider-image-swap class="learning-object"></range-slider-image-swap>
      </div>

    </div>
  </div>
</div>