<div class="range-slider-image-swap">
  <figure class="image-wrapper" ng-repeat="img in data.rangeSlider.images" ng-class="{'active': img.active}">
    <img class="slide" ng-src="{{img.src}}" alt="{{img.alt}}">
    <figcaption>
      <br ng-repeat-start="line in img.caption"><span ng-repeat-end>{{line}}</span>
    </figcaption>
  </figure>
  <label>Please drag this button below to see changes on the map as time changes.</label>
  <input class="range-slider" type="range" min="0" max="{{data.rangeSlider.images.length - 1}}"
    ng-model="data.rangeSlider.position" ng-change="positionChange(data.rangeSlider.position)">
</div>