.range-slider-image-swap figure {
	display: none;
	margin: 0 0 1.5rem;
}

.range-slider-image-swap figure.active {
	display: block;
}

.range-slider-image-swap figure img.slide {
	background: transparent url(../local-data/img/background.jpg) center center no-repeat;
	background-size: cover;
}

.range-slider-image-swap input.range-slider {
	cursor: pointer;
	width: 100%;
}